body {
  background-color: #F8EDE3;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  margin:20px;
}

h1 {
  color:#e08e58 ;
}

 h2 {
  color: #DBA39A;
}

img {
  height: 450px;
  margin-top: 15px;
}

.btn {
  display: flex;
 justify-content: space-evenly;

}



button {
  background-color: #C37B89;
  color: #fff;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
}

